---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import PostPreview from '../components/PostPreview.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const featuredPosts = posts.filter(({ data }) => data.isFeatured);

const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <Hero />

            <div>
                 <h2 class="mb-12 text-5xl sm:mb-16 sm:text-3xl">Talks</h2>
                 <ul>
                  <li>"Tracking Wildfires for the Associated Press" | Seattle JS meetup, October 2023</li>
                  <li>"Data visualization for the news" | University of Washington School of Journalism, February 2024</li>
                 </ul>
            </div>
    
  
</BaseLayout>
