---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import PostPreview from '../components/PostPreview.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const featuredPosts = posts.filter(({ data }) => data.isFeatured);

const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
---

<BaseLayout fullWidth description={siteConfig.description} image={siteConfig.image}>
    <Hero />
            <div class="mt-8 mx-auto max-md:px-4 max-w-screen-md">
               <p class="mb-4">I am a JavaScript / TypeScript and Python expert, with deep knowledge of data visualization tools including D3.js and Mapbox. My work has won APs global best of the week award three times, and has been longlisted for an <a href="https://www.informationisbeautifulawards.com/showcase?award=2023&type=awards" target="_blank" rel="noreferrer">Information is Beautiful</a> Award.</p>
                                <p>Previously, I analyzed data and produced visualizations for major U.S. transit agencies. I hold a masters degree in Urban Planning, with an emphasis on urban informatics, from the University of Washington.</p>

                 <h2 class="mt-8 text-5xl sm:text-3xl">Talks</h2>
                 <ul>
                  <li>"Tracking Wildfires for the Associated Press" | Seattle JS meetup, October 2023</li>
                  <li>"Data visualization for the news" | University of Washington School of Journalism, February 2024</li>
                 </ul>

            </div>
    
  
</BaseLayout>
