---
import Homepage from '../layouts/Homepage.astro';
---

<Homepage>
    <div class="container">
        <h2>Soon I will be starting a blog!</h2>
    </div>
</Homepage>

<style>
.container {
    padding: 80px;
}
</style>