---
import Homepage from '../layouts/Homepage.astro'
import Nav from '../components/Nav.astro'
import Footer from "../components/Footer.astro"
const allPosts = await Astro.glob('../pages/posts/*.md');
import "../layouts/index.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <Nav/>
    <h2>Blog</h2>
    <ul>
    {allPosts.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
    <Footer/>
    </body>
</html>
