---
import MainLayout from '../layouts/MainLayout.astro';
import ProjectCanvas from '../components/projectCanvas'
import Profile from '../components/Profile.astro';

---

<MainLayout
    fullWidth={true}
    title="Portfolio"
    description="Explore a diverse portfolio showcasing my passion and expertise"
    image={{ src: '/grist-disease.jpg', alt: 'The preview of the site' }}
    showHeader={false}
>
<div style="position:relative;">
    <Profile/>
    <ProjectCanvas client:only="react" />
</div>
</MainLayout>
