.contact-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
