---

---

<div class="footer">
  <div class="container">
    <p>Designed and Built by Caleb Diehl. Built with Astro and React</p>
    <p>2022</p>
  </div>
</div>


<style>
  .footer {
  display: flex;
  justify-content: center;
}

  .container {
    display: flex;
    gap: 32px;
    justify-content: space-around;
  }
</style>