---
import { marked } from 'marked';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
        <section class="m-4 rounded-md min-h-full py-8 grid md:grid-cols-[350px_minmax(0,_1fr)] items-center box-border bg-gradient-to-r from-accent from-30% to-accent/30">
            {hero.text && <div class="flex flex-col items-start gap-4 p-8 text-white" >
                <h1 class="font-bold text-5xl md:text-6xl">About Me</h1>
                <p class="text-xs" set:html={marked.parse(hero.text)}></p>
                </div>}

            {hero.image?.src && (
                <figure class="p-16 w-full h-full flex items-center justify-center">
                    <img class="w-full h-full object-cover rounded" src={hero.image.src} loading="lazy" decoding="async" alt={hero.image.alt || ''} />
                    {hero.image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm text-white">{hero.image.caption}</figcaption>}
                </figure>
            )}



        </section>
    )
}
