---
import { marked } from 'marked';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
        <section class="w-full flex max-lg:flex-col gap-8 mb-16 sm:mb-24">
            {hero.image?.src && (
                <figure>
                    <img class="w-full h-full object-cover rounded" src={hero.image.src} loading="lazy" decoding="async" alt={hero.image.alt || ''} />
                    {hero.image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{hero.image.caption}</figcaption>}
                </figure>
            )}
            {hero.text && <div class="lg:max-w-sm lg:text-sm text-gray-600" set:html={marked.parse(hero.text)} />}
           
        </section>
    )
}
