.modalbackground {
  background-color: #121212;
  opacity: 0.3;
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 80vw;
  max-width: 100%;
  height: 100%;
  z-index: 15;
  overflow: scroll;
  background-color: #121212;
  border-radius: 5px;
  text-align: left;
  padding: 30px;
}

.header {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin-bottom: 25px;
}

.modalOpen {
  animation: slide-in 0.7s ease-out forwards;
}

.modalClosed {
  animation: slide-out 0.7s ease-out forwards;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-image {
  width: 60%;
}

.proj-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: 300px;
  z-index: 20;
}

.viewBtn {
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

.viewBtn:hover {
  font-weight: 700;
  border: 2px solid white;
}

.description {
  margin-top: 30px;
  max-width: 70%;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
