---

/**

    <p class="label">
        I'm a front-end developer with expertise in{" "}
        <strong>data visualization</strong>, <strong>interaction design</strong> and{" "}
        <strong>geospatial analysis.</strong>{" "}Currently, I am the interactive news editor at The Associated Press, where I oversee data visualization, front-end development and interactive mapping for journalism viewed by millions across the globe.
    </p>

*/
---


<div class="container">
    <div class="description">
    <h1 class="header">Hi, I'm Caleb Diehl</h1>
    <h2 class="subhead">Front-end Developer</h2>

       <div class="flex">
        <a
        rel="noreferrer"
        href="https://www.linkedin.com/in/caleb-diehl-a93a6984"
        target="_blank"
        >
        <img
            height="32px"
            width="32px"
            alt="linkedin"
            class="contact-img"
            src="/linkedin-logo.svg"
        />
        </a>

        <a rel="noreferrer" href="https://github.com/csdiehl" target="_blank">
        <img
            height="32px"
            width="32px"
            alt="github"
            class="contact-img"
            src="/github-mark.svg"
        />
        </a>
    </div>
    </div>
  
</div>


<style>

  h1,h2,p {
    margin: 0;
  }

  .container {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  margin: 8px auto;
  background: rgba(255, 255, 255, .5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  padding: 8px;
  width: max-content;
  transform: translateX(-50%);
}

.label {
    margin: 0;
    font-size: 1rem;
    color: #555;
    line-height: 1.5rem;
}

.flex {
    display: flex;
    gap: 8px;
    align-items: center;
}

.flex-vert {
    flex-direction: column;
}

.header {
  font-size: 4rem;
  line-height: 4.25rem;
  font-weight: 700;
  text-align: left;
  color: var(--color-accent)
}

.subhead {
  font-size: 1.2rem;
  line-height: 1.45rem;
  color: #555;
  text-align: left;
}

.description {
  box-sizing: border-box;
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  max-width: 570px;
}

.image-container {
  grid-area: photo;
  position: relative;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 425px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .header {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}
</style>

