---
---


<div class="box-border p-4 bg-gradient-to-br from-pink-500/50 to-cyan-400/60 min-h-screen w-[calc(100%-32px)] rounded-lg mx-4 text-gray-700">
    <h1 class="text-6xl md:text-8xl text-white">Hi, I'm <br/><span class="font-bold">Caleb Diehl</span></h1>
    <h2 class="m-0 text-3xl md:text-4xl text-white">Frontend Developer + Dataviz Expert</h2>

       <div class="flex gap-2 py-4">
        <a
        rel="noreferrer"
        href="https://www.linkedin.com/in/caleb-diehl-a93a6984"
        target="_blank"
        >
        <img
            height="32px"
            width="32px"
            alt="linkedin"
            class="contact-img"
            src="/linkedin-logo.svg"
        />
        </a>

        <a rel="noreferrer" href="https://github.com/csdiehl" target="_blank">
        <img
            height="32px"
            width="32px"
            alt="github"
            class="contact-img"
            src="/github-mark.svg"
        />
        </a>

    </div>
  


    <p class="label">
        I'm a front-end developer with expertise in{" "}
        <strong>data visualization</strong>, <strong>interaction design</strong> and{" "}
        <strong>geospatial analysis.</strong>{" "}Currently, I am the interactive news editor at The Associated Press, where I oversee data visualization, front-end development and interactive mapping for journalism viewed by millions across the globe.
    </p>
  
</div>