.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  margin: 20px;
  padding: 10px;
  text-align: left;
  height: 80vh;
}

.profile-img {
  height: 200px;
  filter: grayscale(100%);
  margin-top: 70px;
}

.view-btn {
  color: var(--theme-color);
  background-color: #121212;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid var(--theme-color);
  transition: transform 500ms;
}

.view-btn:hover {
  transform: scale(1.1);
}

@media (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }

  .profile-img {
    visibility: hidden;
  }
}
