.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  margin: 20px;
  padding: 10px;
  text-align: left;
  height: 80vh;
}

.profile-img {
  height: 200px;
  filter: grayscale(100%);
  margin-top: 70px;
}

.view-btn {
  color: #fff;
  background-color: #121212;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #fff;
}
