.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;
  text-align: left;
  height: 80vh;
}

.profile-img {
  height: 200px;
  filter: grayscale(100%);
}
