---
---


<div class="profile-container">
    <h1 class="header">Hi, I'm <br/><span class="highlight">Caleb Diehl</span></h1>
    <h2 class="subhead">Frontend Developer + Dataviz Expert</h2>

       <div class="flex">
        <a
        rel="noreferrer"
        href="https://www.linkedin.com/in/caleb-diehl-a93a6984"
        target="_blank"
        >
        <img
            height="32px"
            width="32px"
            alt="linkedin"
            class="contact-img"
            src="/linkedin-logo.svg"
        />
        </a>

        <a rel="noreferrer" href="https://github.com/csdiehl" target="_blank">
        <img
            height="32px"
            width="32px"
            alt="github"
            class="contact-img"
            src="/github-mark.svg"
        />
        </a>

    </div>
  


    <p class="label">
        I'm a front-end developer with expertise in{" "}
        <strong>data visualization</strong>, <strong>interaction design</strong> and{" "}
        <strong>geospatial analysis.</strong>{" "}Currently, I am the interactive news editor at The Associated Press, where I oversee data visualization, front-end development and interactive mapping for journalism viewed by millions across the globe.
    </p>
  
</div>

<style>

  .header {
    font-size: 8rem;
    line-height: 8.25rem;
    color: #FFF;
  }

  .subhead {
    font-size: 2rem;
    line-height: 2.25rem;
    color: #FFF;
    margin: 0;
  }

  .highlight {
        font-weight: 800;
  }

  .flex {
    display: flex;
    gap: 8px;
    padding: 8px 0;
  }

  .profile-container {
    box-sizing: border-box;
    padding: 16px;
    background: linear-gradient(135deg, rgba(255, 0, 150, 0.6), rgba(0, 204, 255, 0.6) 60%);
    height: 100vh;
    width: calc(100% - 32px);
    border-radius: 8px;
    margin: 0 16px;
    color: #3f3f3f;
  }
</style>
