---
import { projectData } from "./projectData"
import ProjectGridItems from "./ProjectGridItems.astro"
import ProjectSectionHeader from "./ProjectSectionHeader.astro"
---


<div class="flex flex-col items-center justify-center">
    <ProjectSectionHeader icon='magic' title="Selected Work" subtitle="Paid work or open-source contributions that I'm proud of" />
    <ProjectGridItems projects={projectData.slice(0,6)} />

    <ProjectSectionHeader icon='magic' title="Selected Personal Projects" subtitle="Prototypes and experiments that heavily influenced my professional work" />
    <ProjectGridItems projects={projectData.slice(6,9)} />

    <ProjectSectionHeader icon='archive' title="Older Projects" subtitle="Custom data viz I built from scratch for the Associated Press. Also, web apps to visualize transit data that I built as a data analyst at a civil engineering consultancy." />
    <ProjectGridItems projects={projectData.slice(9, projectData.length - 1)} />
</div>
