:root {
  --theme-color: #03dac6;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  color: #d1d1d1;
}

a {
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.fade-in {
  animation: fade-in 1s ease-in;
}

.slide-up {
  margin-top: 50px;
  animation: slide-up 1s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 450px) {
  .slide-up {
    max-width: 90%;
  }
}
