---
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
import '@fontsource/poppins';

const {frontmatter} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <Nav/>
    <h1>{frontmatter.title}</h1>
    <p>By Caleb Diehl</p>
    <p>{frontmatter.pubDate}</p>
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
    <Footer />
  </body>
</html>

<style is:global>
    h1, h2, h3, p {
        font-family: "Poppins", "Helvetica Neue", sans-serif;
    }

    h1 {
        font-size: 4rem;
        line-height: 4.25rem;
    }

    h2 {
        color: #333;
        font-size: 2rem;
        line-height: 2.25rem;
    }
</style>