---
import Profile from '../components/Profile.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import "./index.css";
import '@fontsource/poppins';
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <Nav/>
    <Profile />
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
    <Footer />
  </body>
</html>



